/* Header style start*/
.header {
  padding: 92px 50px;
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}
.header__logo {
  width: 140px;
  position: absolute;
  left: 45%;
}
.header__links-list {
  display: flex;
  flex-wrap: wrap;
  list-style: circle;
  gap: 34px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link {
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}
.header__link_active {
  border-bottom: none;
}
.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}
.header__address {
  text-decoration: none;
  border-bottom: 1px solid black;
}
